.Auth{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
    flex-direction: column ;
}

h1{
    margin: 0 auto;
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;

}

.Auth h1 {
    Color:white;
    text-align: center;
}

.Form{
    background: #eee;
    box-shadow: 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

input{
    display: block;
    width: 400px;
    font-size: 23px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
}

.LogIn {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
    background-color:#b8e356;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #83c41a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:9px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #86ae47;
    float: left;
}

.LogIn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
    background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
    background-color:#a5cc52;
}

.LogIn:active {
    position:relative;
    top:1px;
}

.SignUp {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1f81c2), color-stop(1, #04d6d6));
    background:-moz-linear-gradient(top, #1f81c2 5%, #04d6d6 100%);
    background:-webkit-linear-gradient(top, #1f81c2 5%, #04d6d6 100%);
    background:-o-linear-gradient(top, #1f81c2 5%, #04d6d6 100%);
    background:-ms-linear-gradient(top, #1f81c2 5%, #04d6d6 100%);
    background:linear-gradient(to bottom, #1f81c2 5%, #04d6d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f81c2', endColorstr='#04d6d6',GradientType=0);
    background-color:#1f81c2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:9px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #86ae47;
    float: right;
}

.SignUp:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #04d6d6), color-stop(1, #1f81c2));
    background:-moz-linear-gradient(top, #04d6d6 5%, #1f81c2 100%);
    background:-webkit-linear-gradient(top, #04d6d6 5%, #1f81c2 100%);
    background:-o-linear-gradient(top, #04d6d6 5%, #1f81c2 100%);
    background:-ms-linear-gradient(top, #04d6d6 5%, #1f81c2 100%);
    background:linear-gradient(to bottom, #04d6d6 5%, #1f81c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#04d6d6', endColorstr='#1f81c2',GradientType=0);
    background-color:#04d6d6;
}

.SignUp:active {
    position:relative;
    top:1px;
}
